# Ignore environment files
.env

# Ignore build output
/dist

# Ignore dependencies
/node_modules

# Ignore git version control files and folders
.git
.gitignore
.gitattributes
.gitmodules

# Ignore npm logs
npm-debug.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
